<div>welcome to Bookers !!</div>
<p></p>
In Bookers,

you can share and exchange your opinions , impressions , and emotions

about various books!
</div>


<div class="top-registration-menue">
  <div class="top-registration-login">
	  <%= link_to 'Log in', new_user_session_path, class: "btn btn-primary" %>
	</div>
	<div class="top-registration-sing-up">
	  <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-success" %>
  </div>
</div>